.head-address {
    color: red;
}

.img-location {
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.p-open {
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.h1-address {
    color: red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.roww {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-address {
    width: 100%;
    height: auto;

}