.head-address {
    color: red;
}

.img-location {
    width: 95%;
    height: auto;

}

.box-address {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-address2 {
    border: none;
    padding: 20px;
    text-align: center;
}

.p-open {
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.h1-address {
    color: red;
    padding: 10px;
    border-radius: 10px;
}