.head-address {
    color: orange;
}

.img-location {
    width: 70%;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.p-open {
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.box-address .h1-address {
    color: orange;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-address {
    width: 100%;
    height: auto;

}