.container-awards {
    background: rgb(2, 2, 70);
    background-image: url('../images/ai-generated-golden-winner-cup-on-dark-background-photo.jpg');
    background-size: cover; /* cover the entire background */
    height: 100vh;
    background-position: center; /*center the background*/
    background-repeat: no-repeat; /*avoid image repetition */
    position: relative;
}

.box .hedertrophy {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color: orange;
    padding: 5px;
    border-radius: 5px;
}

.Awards-ttle {
    color: orange;
}

.box {
    display: block;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .img-trophy {
    width: 40%;
    height: auto;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.collum {
    background: rgb(53, 52, 52);
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.award-header {
    font-family:  'Times New Roman', Times, serif;
}

.container-awards  .saying-mission {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.box .hedah {
    color: black;
}

@keyframes anim {
    from {
        font-size: 15px;
        color: black;
    }

    to {
        font-size: 100pxpx;
    }
}

@media only screen and (max-width: 700px){
    .box {
        width: 100%;
    }
}
.Trusted-ttle .OurMotto {
    border: none;
    box-shadow: 5px 5px 15px rgba(90, 2, 253, 0.5);
}

.hed-awrd {
    font-family: 'Times New Roman', Times, serif;
}