.container-awards {
    background-color: rgb(63, 61, 61);
}

.Awards-ttle {
    color: #00ff15;
}

.imgtrophy {
    max-width: 60%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box .imgcolnel2 {
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box {
    display: block;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.box .col {
    margin: 10px;
    background-color: rgb(63, 65, 65);
    border-radius: 15px;
    padding: 10px;
}

.award-header {
    color: yellow;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    font-family:  'Times New Roman', Times, serif;
}

.container-awards  .saying-mission {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}

.box .hedah {
    color: blue;
}

@keyframes anim {
    from {
        font-size: 15px;
        color: blue;
    }

    to {
        font-size: 100pxpx;
        color: #00ff15;
    }
}

@media only screen and (max-width: 700px){
    .box {
        width: 100%;
    }
}
.Trusted-ttle .OurMotto {
    border: none;
    box-shadow: 5px 5px 15px rgba(90, 2, 253, 0.5);
}

.hed-awrd {
    font-family: 'Times New Roman', Times, serif;
}