.container-histry {
    background-image:  conic-gradient(red, blue, red);
    border: 2px solid rgb(206, 202, 202);
    border-radius: 10px;
}

.head-histry {
    color: rgb(0, 252, 0);
}

.par-histry {
    font-family: sans-serif;
    font-size: 1.3rem;
}