.container-histry {
    background-image: url('../images/891aa274f7fd54c02a1b2e5a16f4ff8b.jpg');
    background-size: cover; /* cover the entire background */
    background-position: center; /*center the background*/
    background-repeat: no-repeat; /*avoid image repetition */
    z-index: -1;
    height: auto;
}

.head-histry {
    color: red;
}

.par-histry {
    font-size: 1.3rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.opasity {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}