.select-select {
    width: 80%;
    float: right;
}

.btn-calc {
    width: 50%;
    height: auto;
    background-color: orange;
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.btn-calc:hover {
    background-color: red;
    color: white;
}

.lbl-1 {
    float: left;
}

.container-form1 {
}