.container-clients {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background-color: orange;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee {
    display: flex;
    animation: marquee 5s linear infinite;
}

.marquee-item {
    flex-shrink: 0;
    text-align: center;
    margin: 0 10px;
}

.client-logo {
    width: 100%;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

.client-name {
    font-size: 0.9rem;
    font-weight: bold;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}