.par-contact-info2 {
    text-align: left;
}

.par-contact-info {
    text-align: left;
}

.infocintact {
    border-radius: 15px;
    padding: 20px;
}

.imej-contactinfo {
    width: 40%;
    height: auto;
}