.follow .imejji {
    width: 50%;
    height: auto;
    border-radius: 20px;
    background: black;
}

.follow {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom:  30px;
}

.follow-header {
    color: #00ff15;
}

.follow .saying-follow {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}