.container-contactusform {
}

.inpt {
    width: 90%;
    height: auto;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.lbls {
    text-align: center;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.btn-contact {
    width: 35%;
}

.headar-formcntct {
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.form-contactus .btn-contact {
    background: orange;
    color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.btn-contact:hover {
    background-color: orangered;
    color: black;
    border: 1px solid red;
}