.container-homepage {
    background: rgb(2, 2, 70);
    background-image: url('../images/8-2.jpg');
    background-size: cover; /* cover the entire background */
    height: 100vh;
    background-position: center; /*center the background*/
    background-repeat: no-repeat; /*avoid image repetition */
}

.homepage-titl {
    text-align: left;
    color: yellow;
}

.box-homepage .second-titl {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.img-konika {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}