.img-LargeFormat {
    width: 120px;
    height: 120px;
}

.container-LargeFormat {
    background-color: gray;
}

.box-Largefromat {
    background-color: rgb(158, 156, 156);
    width: 100%;
    height: auto;
    margin: 10px;
}