.img-LargeFormat {
    width: 65%;
    height: 130px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.container-LargeFormat {
    background-color: gray;
}

.box-Largefromat {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    width: 100%;
    height: auto;
    margin: 10px;
}