.container-mission .ttle-aboutus {
}

.container-mission .saying-mission {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

 .box-mission {
    background-color: lightgrey;
    width: 100%;
    height: 95%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin: 0 auto;
    padding: 2em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-mission::before {
    filter: blur(i.5rem);
}

.container-mission .box-mission2 {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box-mission1 {
    min-width: 100%;
    max-height: auto;
    border: none;
    box-shadow: 5px 5px 15px rgba(32, 32, 32, 0.5);
}



.box-mission1 .inklab_logo {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
}

.par-mission {
    text-align: justify;
    animation: myAnim 2s linear 1s infinite alternate;
    font-size: larger;
}

.container-mission .par-mission1 {
    padding-bottom: 10px;
    color: black;
    position: relative;
    animation: myAnim 2s linear 1s infinite alternate;
}


@keyframes myAnim {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
    
}