.container-mission {
    background-color: beige;
}

.container-mission .saying-mission {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.ttle-aboutus {
    color: orange;
    font-family: sans-serif;
}

 .box-mission {
    width: 100%;
    height: auto;
    color: black;
    position: relative;
    margin: 0 auto;
    padding: 2em;
    border-radius: 10px;
    border: none;
}

.pic-about {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid orange;
}

.pic {
    width: 100%;
    height: auto;
}

.btn-abt {
    border: none;
    background: orange;
    color: white;
    width: 30%;
    height: auto;
}

.btn-abt:hover {
    background-color: black;
    color: whitesmoke;
}

.box-mission::before {
    filter: blur(i.5rem);
}

.container-mission .box-mission2 {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box-mission1 {
    min-width: 100%;
    max-height: auto;
    border: none;
    box-shadow: 5px 5px 15px rgba(32, 32, 32, 0.5);
}

.par-mission {
    text-align: left;
    animation: myAnim 2s linear 1s infinite alternate;
    font-size: larger;
}

.box-mission .par-mission1 {
    text-align: left;
    color: orange;
    position: relative;
    animation: myAnim 2s linear 1s infinite alternate;
}


@keyframes myAnim {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
    
}