.container-services {
    background-color: lightgrey;
}

.ourservices-header {
    color: black;
}

.container-services .saying-services {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.imej-printing {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid white;
}

.box-service {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-height: 95%;
    object-fit: cover;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    background-color: white;
}

.h-service {
    color: black;
}

.box-service .par-service {
    width: 100%;
    background-color: lightgre;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color: black;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}