.container-products {
    background-color: white;
}

.header-product {
    color: red;
}

.item-list {
    color: black;
    font-size: large;
    text-align: left;
}

.box-products {
    width: 100%;
    height: 100%;
}

.service-1 {
    color: blue;
    text-align: left;
}

.img-printin {
    width: 70%;
    height: 35%;
    border-radius: 10px;
}