.container-products {
    background-color: white;
}

.header-product {
    color: red;
}

.item-list {
    color: black;
    font-size: large;
    text-align: left;
}

.box-products {
    width: 100%;
    height: auto;
    min-height: 95%;
    margin: 10px;
}

.service-1 {
    color: blue;
    text-align: left;
}

.img-printin {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}