.container-products {
    background-color: white;
}

.header-product {
    color: orange;
}

.item-list {
    color: black;
    font-size: large;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.box-products {
    width: 100%;
    height: auto;
    min-height: 95%;
    margin: 10px;
    border: 1px solid orange;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-products .service1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    color: orange;
}

.img-printin {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}