.container-promotional {
    background: black;
}

.img-promotional {
    width: 50%;
    height: 80px;
    position: relative;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50%);
    margin-top: 10px;
}

.container-promotional .saying-promotional {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.header-promotional {
    color: black;
    padding: 20px;
    margin: 20px;
}

.Item-1 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    width: 90%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.Item-1 .headar-promotional {
    width: 100%;
    min-height: 100%;
    color: black;
    background-color: lightgrey;
}

.header-promotionals {
    background-color: purple;
    color: black;
    border-radius: 10px;
}