.container-quality {
}

.box-quality .imeg-quality {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.imeg-quality:hover {
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-image {
    width: 50%;
    max-width: 1000px;
    height: 30%;
    max-height: 90vh;
    object-fit: contain; /* Ensure the image maintains aspect ration */
    border-radius: 5px;
}

.head-quality {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-quality .head-quality {
    padding: 5px;
    border-radius: 10px;
    color: blue;
}

.box-quality {
    border: 1px solid gray;
    border-radius: 15px;
    width: 100%;
    height: auto;
    min-height: 98%;
    margin: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.container-quality .heada-quality {
    font-weight: bold;
}