.container-service {
    background-color: white;
}

.img-digitalprnt {
    position: relative;
    width: 65%;
    height: 100px;
    margin-top: 10px;
}

.box-digitalprinting {
    width: 100%;
    height: auto;
    min-height: 95%;
    margin: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box-homepage1 {
    background-image: url('../images/891aa274f7fd54c02a1b2e5a16f4ff8b.jpg');
    background-size: cover; /* cover the entire background */
    background-position: center; /*center the background*/
    background-repeat: no-repeat; /*avoid image repetition */
    z-index: -1;
}

.heada-all {
    background-image: url('../images/891aa274f7fd54c02a1b2e5a16f4ff8b.jpg');
    background-size: cover; /* cover the entire background */
    background-position: center; /*center the background*/
    background-repeat: no-repeat; /*avoid image repetition */
    z-index: -1;
}