.container-slider {
    background-color: beige;
}

.header-slider {
    color: black;
    font-family: sans-serif;
}

.img-client-testimonials {
    width: 35%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    border: 2px solid black;
}

.container-slider .saying-testimonials {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.Slider-1 {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    border: 2px solid orange;
}

.Slider-1 .headar-testimonials {
    color: black;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin-top: 8px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

.Slider-1 .headar-testimonials2 {
    color: orange;
    border-radius: 5px;
}

.par-testimonials {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}