.heading-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.animated-heading {
    font-size: 2rem;
    transform: translate(50%); /*start off-screen to the right*/
    opacity: 0;
    transition: transfrom1s ease-out, opacity 1s ease-out;
}

.animated-heading.animate {
    transform: translate(0); /*move to center*/
    opacity: 1;
}