.container-theteam {
    background-color: aquamarine;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 10px;
}

.img-theteam {
    width: 50%;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.box-theteam {
    box-shadow: 10px 10px 10px 10px gray;
}

.theteam-name {
    padding: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    margin: 10px 0px 10px;
}