.container-theteam {
    border-radius: 10px;
    margin-top: 40px ;
}

.head-theteam {
    color: red;
}

.container-theteam .saying-teamm {
    font-family: 'Times New Roman', Times, serif;
}

.img-theteam {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 5px solid blue;
}

.box-theteam {
    border: 1px solid gray;
}

.theteam-name {
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.par-theteam {
    color: black;
}