.container-values {
    border-radius: 10px;
}

.box-values {
    background-color: aquamarine;
    width: 100%;
    height: 90%;
    padding: 20px;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 5px;
    color: black;
}

.box-values2 {
    width: 100%;
    height: 90%;
    padding: 20px;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 5px;
}

.head-values {
    color: red;
}

.par-values {
    font-family: sans-serif;
    font-size: 1.3rem;
}

.img-value {
    width: 70%;
    height: 70%;
}

.img-value2 {
    width: 50%;
    height: auto;
}