.container-values {
    border-radius: 10px;
}

.box-values {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 90%;
    padding: 20px;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 5px;
    color: black;
}

.head-values {
    color: red;
}

.value {
    font-family: 'Times New Roman', Times, serif;
}

.img-value {
    width: 70%;
    height: 70%;
}

.img-value2 {
    width: 50%;
    height: auto;
}