.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.video {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.btn-vida {
    background: yellow;
    border: none;
    width: 70%;
    color: red;
    border-radius: 7px;
}

.video {
    border: 2px solid yellow;
}